.gridItem{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
}
.personStyle{
    background-color: rgb(130, 11, 204);
    padding: 30px;
    border-radius: 20px; 
    margin: 30px;
    font-size: 10px;
    font-style: normal;
   
    
}
.idstyle{
    color: rgb(6, 218, 255);
}